{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h1>Bem-vindo ao Planeta Fauna</h1>
<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Procure por reino, filo, subfilo ou espécie">
    <button type="submit">Pesquisar</button>
</form>
<h2>Escolha um Reino</h2>
<div class="reinos-lista">
    {% for reino in reinos %}
        <div class="reino-container">
            <a href="{% url 'lista_filos' id_reino=reino.id %}" class="nome-reino">{{ reino.nome }}</a>
            <a href="{% url 'lista_filos' id_reino=reino.id %}">
                <img src="{{ reino.imagem.url }}" alt="{{ reino.nome }}">
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
