{% extends 'base.html' %}

{% block title %}Lista de Reinos{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Escolha um Reino</h1>
    <div class="row">
        {% for reino in reinos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ reino.imagem.url }}" class="card-img-top" alt="{{ reino.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ reino.nome }}</h5>
                    <a href="{% url 'lista_filos' id_reino=reino.id %}" class="btn btn-primary btn-block">Ver Filos</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
