{% extends 'base.html' %}

{% block title %}Lista de Ordens - Planeta Fauna{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Escolha uma Ordem</h1>
    <p class="text-center">{{ classe.descricao }}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for ordem in ordens %}
        <div class="col">
            <div class="card-custom">
                <img src="{{ ordem.imagem.url }}" class="card-img-top img-fluid" alt="{{ ordem.nome }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ ordem.nome }}</h5>
                    <div class="text-center">
                        <a href="{% url 'lista_familias' id_ordem=ordem.id %}" class="btn btn-outline-dark btn-block">Ver Famílias</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
