body {
    background-image: url("/media/background/background.webp");
    background-size: inherit;
    /* Centraliza a imagem de fundo */
    background-position: center;
    /* Repete a imagem de fundo para preencher o espaço */
    background-repeat: repeat;
    /* Faz com que a imagem de fundo esteja atrás de todo o conteúdo */
}

h2{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.choices {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.choice {
    text-align: center;
    margin: 10px;
}
.choice img {
    width: 150px;
    height: 150px;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
}
button {
    color: rgb(0, 0, 0);
    padding: 10px;
}