body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2{
    text-align: center;
    margin: 50px;
}

form {
    text-align: center;
    margin: 50px 0;
}

.reinos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reino-container {
    margin: 20px;
    text-align: center;
}

.reino-container img {
    max-width: 150px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 15px;
}

