{% extends 'base.html' %}

{% block title %}Lista de Famílias - Planeta Fauna{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4 text-center">Familias da Ordem: {{ordem.nome}}</h1>
    <p class="text-center">{{ ordem.descricao }}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for familia in familias %}
        <div class="col">
            <div class="card-custom">
                <img src="" class="card-img-top img-fluid" alt="{{ familia.nome }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ familia.nome }}</h5>
                    <div class="text-center">
                        <a href="{% url 'lista_generos' id_familia=familia.id %}" class="btn btn-outline-dark btn-block">Ver Gêneros</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
